{% extends 'base.html.twig' %}

{% block title %}valider ma commande{% endblock %}
{% block css %} <link rel="stylesheet" href="{{ asset('css/commande.css') }}"> {% endblock %}
{% block body %}
<div class="container">
    <h1 class="text-center mt-3" >valider ma commande</h1>
    <div class="row content">

        <div class="col-lg-6">
                <img src="images/valider.svg" class="img-fluid" alt="image">
        </div>

        <div class="col-lg-6" id="form">
            
            {{ form_start(form) }}
            <i class="fa fa-user" aria-hidden="true"></i>
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom ,{'value' : app.user.pseudo}) }}
            <small>{{ form_help(form.nom) }}</small>
                
            <i class="fa fa-map-marker"></i>
            {{ form_label(form.adresse) }}
            {{ form_widget(form.adresse, {'value' : app.user.adresse}) }}

            <small>{{ form_help(form.adresse) }}</small>

            <i class="fa fa-phone" aria-hidden="true"></i>

            {{ form_label(form.telephone) }}
            {{ form_widget(form.telephone,{'value' : app.user.telephone}) }}

            <small>{{ form_help(form.telephone) }}</small>

            <div class="form-error">
            {{ form_errors(form.adresse) }}
            {{ form_errors(form.nom) }}
            {{ form_errors(form.telephone) }}
            </div>

           {{ form_widget(form.submit) }}
        </div>
        
    </div>
     
</div>
{% endblock %}
