{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}
{% block css %} 
    <link rel="stylesheet" href="{{ asset('css/utilisateur.css') }}"> 
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
{% endblock %}
{% block body %}

<div class="container">
<h1 class="text-center mt-3" >Utilisateurs</h1>

    <table id="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Roles</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.pseudo }}</td>
                <td>{{ utilisateur.roles ? utilisateur.roles|join(', ') : '' }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.adresse }}</td>
                <td>
                    {% if utilisateur.telephone|length < 10 %}
                        0{{ utilisateur.telephone }}
                    {% else %}
                        {{ utilisateur.telephone }}
                    {% endif %}
                </td>
                <td class"edit">
                    <a href="{{ path('utilisateur_show', {'id': utilisateur.id}) }}" class="btn">Voir</a>
                    <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}" class="btn">Éditer</a>
                    
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4" class="text-center">Aucun utilisateur</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('utilisateur_new') }}" class="btn btn-success">Nouvel utilisateur</a>
</div>


{% endblock %}



{% block js %}
{{parent()}}
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>
{% endblock %}