{% extends 'base.html.twig' %}

{% block title %}Calendrier des saisons!{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ asset('css/commandes.css') }}">
{% endblock %}

{% block body %}
<form method="get">	
<div class="container d-flex justify-content-center">
    <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"> <img id="image"src="{{ vich_uploader_asset(fruit_legume, 'imageFile') }}" alt={{fruit_legume.nom}}> </a>
        <figcaption class="info-wrap">
            <div class="row">
                <div class="col-md-12 col-xs-12"> 
                    <a href="#" class="title text-center" data-abc="true">{{fruit_legume.nom}}</a> 
                </div>
                
            </div>
        </figcaption>
        <div class="bottom-wrap-payment">
            <figcaption class="info-wrap">
                <div class="row">
                    <div class="col-md-9 col-xs-9">  
                        <span class="rated">Prix €</span> 
                        <a href="#" class="title" data-abc="true">{{fruit_legume.prix}} </a>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <div class="pass-quantity">
                            <label for="pass-quantity" class="quantity">Quantite</label>
                            <input class="text-center" name="pass-quantity" type="number" value="1" min="1" max="10">
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 d-flex justify-content-center">
                    
                    <input type="submit" class="btn float-center" name="submit" value="confirmer l'achat" id="submit">
                    
                    </div>
                </div>
                </form>
            </figcaption>
        </div>
    
        <div class="bottom-wrap"> <a href="{{ path('panier') }}" class="btn float-right" type="submit" data-abc="true"> voir au panier </a>
        </form>
            <div class="price-wrap"> <a href="{{ path('calendrier') }}" class="btn float-left" data-abc="true"> consulter calendrier </a> </div>
        </div>
    </figure>
</div>


{% endblock %}
